# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# no AI files (AI should only be used for reviewing code, not for generating it)
CLAUDE.md
.claude
.github/instructions
.github/prompts
.vscode/mcp.json
